#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.editable {
  font-family: sans-serif;
  margin-left: 10%;
  width: 75%;
  min-height: 100px;
  border: 1px dashed #aaa;
  padding: 5px;
  resize: none;
}

.inserted-text {
  background: lightblue;
}
